body {
  font-family: monospace;
  background-color: black;
  color: white;
}

#input {
  font-family: monospace;
  background-color: black;
  color: white;
}

#main {
  overflow: auto;
  height: 100%;
}

#measure {
  display: hidden;
  background-color: black;
  color: black;
}

#wide {
  display: hidden;
  background-color: black;
  color: black;
}

#prompt {
  float: left;
}

.link {
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline;
  color: white;
  background-color: blue;
}

.cursor {
  background-color: red;
}

.term_prop {
  font-family: sans-serif;
}

.term_ital {
  font-style: italic;
}

.term_und {
  text-decoration: underline;
}

.term_over {
  text-decoration: overline;
}

.term_und2 {
  text-decoration: underline;
  text-decoration-style: double;
}

.term_str {
  text-decoration: line-through;
}

.term_fgblack {
  color: #000000;
}
.term_fgred {
  color: #cd0000;
}
.term_fggreen {
  color: #00cd00;
}
.term_fgyellow {
  color: #cdcd00;
}
.term_fgblue {
  color: #0000ee;
}
.term_fgmagenta {
  color: #cd00cd;
}
.term_fgcyan {
  color: #00cdcd;
}
.term_fgwhite {
  color: #e5e5e5;
}

.term_fggrey,
.term_fgblackbold {
  color: #7f7f7f;
}
.term_fgredbold {
  color: #ff0000;
}
.term_fggreenbold {
  color: #00ff00;
}
.term_fgyellowbold {
  color: #ffff00;
}
.term_fgbluebold {
  color: #5c5cff;
}
.term_fgmagentabold {
  color: #ff00ff;
}
.term_fgcyanbold {
  color: #00ffff;
}
.term_fgwhitebold {
  color: #ffffff;
}

.term_fgblackfaint {
  color: #000000;
}
.term_fgredfaint {
  color: #600000;
}
.term_fggreenfaint {
  color: #006000;
}
.term_fgyellowfaint {
  color: #606000;
}
.term_fgbluefaint {
  color: #000060;
}
.term_fgmagentafaint {
  color: #600060;
}
.term_fgcyanfaint {
  color: #006060;
}
.term_fgwhitefaint {
  color: #606060;
}

.term_bgred {
  background-color: #c00000;
}
.term_bggreen {
  background-color: #00c000;
}
.term_bgyellow {
  background-color: #c0c000;
}
.term_bgblue {
  background-color: #0000c0;
}
.term_bgmagenta {
  background-color: #c000c0;
}
.term_bgcyan {
  background-color: #00c0c0;
}
.term_bgwhite {
  background-color: #c0c0c0;
}

.indent_1 {
  display: inline-block;
  padding-left: 1ch;
  text-indent: -1ch;
}
.indent_2 {
  display: inline-block;
  padding-left: 2ch;
  text-indent: -2ch;
}
.indent_3 {
  display: inline-block;
  padding-left: 3ch;
  text-indent: -3ch;
}
.indent_4 {
  display: inline-block;
  padding-left: 4ch;
  text-indent: -4ch;
}
.indent_5 {
  display: inline-block;
  padding-left: 5ch;
  text-indent: -5ch;
}
.indent_6 {
  display: inline-block;
  padding-left: 6ch;
  text-indent: -6ch;
}
.indent_7 {
  display: inline-block;
  padding-left: 7ch;
  text-indent: -7ch;
}
.indent_8 {
  display: inline-block;
  padding-left: 8ch;
  text-indent: -8ch;
}
.indent_9 {
  display: inline-block;
  padding-left: 9ch;
  text-indent: -9ch;
}
.indent_10 {
  display: inline-block;
  padding-left: 10ch;
  text-indent: -10ch;
}
.indent_11 {
  display: inline-block;
  padding-left: 11ch;
  text-indent: -11ch;
}
.indent_12 {
  display: inline-block;
  padding-left: 12ch;
  text-indent: -12ch;
}
.indent_13 {
  display: inline-block;
  padding-left: 13ch;
  text-indent: -13ch;
}
.indent_14 {
  display: inline-block;
  padding-left: 14ch;
  text-indent: -14ch;
}
.indent_15 {
  display: inline-block;
  padding-left: 15ch;
  text-indent: -15ch;
}
.indent_16 {
  display: inline-block;
  padding-left: 16ch;
  text-indent: -16ch;
}
.indent_17 {
  display: inline-block;
  padding-left: 17ch;
  text-indent: -17ch;
}
.indent_18 {
  display: inline-block;
  padding-left: 18ch;
  text-indent: -18ch;
}
.indent_19 {
  display: inline-block;
  padding-left: 19ch;
  text-indent: -19ch;
}
.indent_20 {
  display: inline-block;
  padding-left: 20ch;
  text-indent: -20ch;
}
